
.app-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 5%;
    z-index: 1000;
    background-color: rgba(0, 128, 255, 0.5);
    backdrop-filter: blur(10px);


    a {
        transform: scale(70%);
        display: block;
        position: relative;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            object-position: center;
        }
    }

    @media (min-width: 768px) {
        padding: 2.5% 5%;

        a {
            transform: scale(100%);
            display: inline-block;
        }
    }

}

.app-nav-logo {

    span {
        opacity: 0;
        position: absolute;
    }

}
