.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;

}

.spinner {
    position: absolute;
    width: 9px;
    height: 9px;

    div {
        position: absolute;
        width: 50%;
        height: 150%;
        background: #fff;
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
        animation: spinner-anim 1s calc(var(--delay) * 1s) infinite ease;

        // Use a loop for nth-child
        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                --delay: #{$i * 0.1};
                --rotation: #{36 * $i};
                --translation: 150;
            }
        }
    }
}

@keyframes spinner-anim {

    0%,
    10%,
    20%,
    30%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    }

    50% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
    }
}
