* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.poppins-thin {
  font-style: normal;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
}

.poppins-extralight {
  font-style: normal;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
}

.poppins-light {
  font-style: normal;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.poppins-regular {
  font-style: normal;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.poppins-medium {
  font-style: normal;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.poppins-semibold {
  font-style: normal;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.poppins-bold {
  font-style: normal;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.poppins-extrabold {
  font-style: normal;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}

.poppins-black {
  font-style: normal;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}

.poppins-thin-italic {
  font-style: italic;
  font-weight: 100;
  font-family: 'Poppins', sans-serif;
}

.poppins-extralight-italic {
  font-style: italic;
  font-weight: 200;
  font-family: 'Poppins', sans-serif;
}

.poppins-light-italic {
  font-style: italic;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}

.poppins-regular-italic {
  font-style: italic;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}

.poppins-medium-italic {
  font-style: italic;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}

.poppins-semibold-italic {
  font-style: italic;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.poppins-bold-italic {
  font-style: italic;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.poppins-extrabold-italic {
  font-style: italic;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;
}

.poppins-black-italic {
  font-style: italic;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}
